.leftSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.leftSidebar .header {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-bottom: 38px;
}

.leftSidebar h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: white;
}

.leftSidebar h2 {
    font-size: 1.25rem;
    padding-top: 16px;
    color: white;
}

.leftSidebar p {
    padding-top: 16px;
    width: 320px;
    line-height: 1.;
    color: rgba(255, 255, 255, 0.788);
}

@media (max-width: 480px) {
    .leftSidebar h1 {
        font-size: 2.5rem;
    }

    .leftSidebar .header {
        padding-bottom: 24px;
    }

    .leftSidebar h2 {
        font-size: 1.2rem;
    }
}