.project-card {
    display: grid;
    grid-template-columns: 26% 74%;
    padding: 30px 24px 32px 24px;
    transition: 0.115s ease-in;
    /* border-radius: .375rem; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.line-top {
    transition: 0.15s ease-in;
    position: absolute;
    border-top: 3px solid rebeccapurple;
    top: 0;
    left: 0;
    width: 0;
}

.line-right {
    transition: 0.15s 0.15s ease-in;
    border-right: 4px solid rebeccapurple;
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
}

.line-bottom {
    transition: 0.15s 0.30s ease-in;
    border-bottom: 5px solid rebeccapurple;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
}

.line-left {
    transition: 0.15s 0.45s ease-in;
    position: absolute;
    border-left: 6px solid rebeccapurple;
    bottom: 0;
    left: 0;
    height: 0;
}

.project-card:hover {
    background: #97979710;
    .line-bottom, .line-top {
        width: 65%
    }
    .line-left, .line-right {
        height: 60%;
    }
    .title {
        color: rebeccapurple;
    }
    .arrow {
        transform: translate(4px, -4px);
    }
}

.project-card .project-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    padding-top: 4px;
}


.project-card .project-img img {
    width: 82%;
    height: 82%;
    object-fit: cover;
    border: 2px solid rgba(128, 128, 128, 0.17);
    border-radius: 4px;
}

.project-card .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-card .arrow {
    display: inline-flex;
    transition: transform 0.2s ease;
}


.project-card .title {
    font-size: 1.05rem;
    transition: 0.115s ease-in;
    display: flex;
    gap: 5px;
    align-items:self-end;
}

.project-card .paragraph {
    font-size: 0.9rem;
}

.project-card .techno-list {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-block: 8px;
}


