table {
    width: 100%;
    border-collapse: collapse;
    font-size: .9rem;
    table-layout: fixed;
}

thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

tbody tr {
    border-top: 1px solid #b073ff23;
}

th {
    padding-top: 20px;
    padding-bottom: 16px;
}

td {
    padding-top: 16px;
    padding-bottom: 28px;
}

th:nth-child(1) {
    width: 6%;
}

th:nth-child(2) {
    width: 28%;
}

th:nth-child(3) {
    width: 46%;
}

th:nth-child(4) {
    width: 20%;
}

tr {
    vertical-align: top;
    text-align: left;
}

/* @media (max-width: 1024px) {
    th:nth-child(1) {
        width: 3%;
    }
} */

@media (max-width: 640px) {
    th:nth-child(1) {
        width: 4.5%;
    }
}

@media (max-width: 440px) {
    th:nth-child(1) {
        width: 8%;
    }
}