table {
    width: 100%;
    border-collapse: collapse;
    font-size: .9rem;
}

tbody tr {
    border-top: 1px solid #b073ff23;
}

th {
    padding-bottom: 16px;
}

td {
    padding-top: 16px;
    padding-bottom: 28px;
}

tr {
    vertical-align: top;
    text-align: left;
}
