.project-row .techno-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-block: 2px;
    padding-right: 16px;
}

.project-row .year, a {
    color: #b073fff1;
}

.project-row .link {
    padding-block: 22px;
}

.project-row a {
    display: flex;
    gap: 4px;
    width: fit-content;
    /* background: #000; */
    align-items: center;
}

.project-row a:hover {
    filter: brightness(2);
}


.project-row .project {
    font-weight: 600;
    font-size: 1rem;
}

.project-row a {
    font-size: 0.85rem;
    font-weight: 600;
}