nav {
    display: flex;
    gap: .75rem;
    flex-direction: column;
}

.line {
    transition: 0.18s ease;
    border-top: 1px solid white;
    width: 35px;
    height: 0;
}

.line.grow {
    width: 62px;
}

a { 
    text-decoration: none;
}