nav {
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
}

.element:hover {
    .line {
        border-color: white;
        width: 64px;
    }

    a{
        color: white;
    }
}

.line {
    transition: 0.18s ease;
    border-top: 1px solid gray;
    width: 32px;
    height: 0;
}

.line:hover {
    width: 64px;
    border-color: white;
}

.line.grow {
    width: 64px;
    border-color: white;
}

a { 
    color: gray;
    font-size: .75rem;;
    text-decoration: none;
    font-weight: 700;
    line-height: 1rem;
}

a.selected {
    color: white;
}