.circle {
    background: radial-gradient(circle,
            rgba(24, 40, 85, 0.453) 0%,
            rgba(24, 40, 85, 0.292) 40%,
            rgba(17, 28, 59, 0) 60%);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
}