section {
    scroll-margin-top: 100px;
}

#experience {
    scroll-margin-top: 62px;
}

/*  
    ProjectArray, ProjectRow
*/
@media (max-width: 640px) {
    .hide-mobile {
        display: none;
    }
}

/*  
    ProjectArray, ProjectRow
*/
@media (max-width: 1024px) {
    .hide-tablette {
        display: none;
    }
}

