section {
    scroll-margin-top: 100px;
}

#experience {
    scroll-margin-top: 62px;
}

.d-none-md {
    display: block;
}

/*  
    ProjectArray, ProjectRow
*/
@media (max-width: 640px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width:640px) {
    .d-none-md {
        display: none;
    }
}

/*  
    ProjectArray, ProjectRow
*/
@media (max-width: 1024px) {
    .hide-tablette {
        display: none;
    }
}