@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

#root {
    font-family: 'Inter', sans-serif;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}