html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 100px;
}

#experience {
  scroll-margin-top: 80px;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(16, 25, 46);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

*{
  margin: 0;
}
