.repository {
    padding-inline: 48px;
}

.repository h1 {
    color: white;
    font-size: 3rem;
    margin-top: -5px;
}

.repository-header {
    padding-top: 92px;
    padding-bottom: 46px;
}

.home-link {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: fit-content;

    .i-arrow {
        color: var(--violet-b);
        filter: brightness(1.6);
        transition: 0.1s ease-in-out;
    }

    button {
        color: var(--violet-b);
        filter: brightness(1.6);
        transition: 0.8s ease-in-out;
        border: none;
        background: none;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
    }
}

.home-link:hover .i-arrow {
    transform: translateX(-5px);
}

/* Laptop */
@media (max-width: 1024px) {
    .repository .repository-header{
        padding-top: 64px;
    }
    .repository {
        padding-inline: 48px;
    }

}

/* Mobile */
@media (max-width: 768px) {
    .repository {
        padding-inline: 26px;
    }

    .repository .repository-header{
        padding-top: 48px;
    }
}

@media (max-width: 640px) {
        .repository h1 {
        font-size: 2.3rem;
        margin-top: -2px;
    }
}
