.repository-link-container {
    padding-inline: 21px;
    padding-top: 28px;

    .i-arrow {
        transition: 0.1s ease-in-out;
    }

    button {
        transition: 0.8s ease-in-out;
        border: none;
        background: none;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        
    }
}

.repository-link-container:hover .i-arrow {
    transform: translateX(6px);
}

.repository-link-container:hover button {
    text-underline-offset: 4px;
    text-decoration: underline;
}

.repository-link {
    width: "fit-content";
    display: flex;
    align-items: center;
    gap: 6px;
}