.layout {
    display: grid;
    grid-template-columns: 44.655% 55.355%;
    gap: 28px;
    min-height: 100vh;
    padding-inline: 48px;
}

.layout .left {
    position: sticky;
    top: 92px;
    height: calc(100vh - 184px);
}

.layout .right {
    padding-block: 92px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* Responsive */

/* Laptop */
@media (max-width: 1024px) {
    .layout {
        display: flex;
        flex-direction: column;
        padding-inline: 24px;
    }

    .layout .left {
        top: 64px;
        position: relative;
        height: fit-content;
        padding-inline: 24px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .layout {
        padding-inline: 8px;
    }

    .layout .left {
        top: 60px;
    }
}

