.layout {
    display: grid;
    grid-template-columns: 47.5% 53.5%;
    min-height: 100vh;
}

.layout .left {
    position: sticky;
    top: 96px;
    height: calc(100vh - 192px);
}

.layout .right {
    padding-block: 96px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
